<h3>Add new contact</h3>
<form class="well" name="addcontactform" ng-submit="addcontactform.$valid && addContact()" novalidate>
    <div class="form-group">
        <label for="name">Name</label>
        <input autofocus ng-model="newContact.name" required type="text" class="form-control" id="name" placeholder="Enter name">
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input autofocus ng-model="newContact.email" required type="email" class="form-control" id="email" placeholder="Enter email">
  </div>
    <input class="btn btn-success" type="submit" value="Add Contact">
    <button class="btn btn-primary" ng-click="acform = false">Cancel</button>
</form>
