<html ng-app="main">
<head>
	<script type="text/javascript" src="angular.js"></script>
	<script type="text/javascript">
		var app = angular.module('main',[]);
			/*[] includes the dependency!
			{{}} is used to recognize a JS code

			*Only one ng-app per page, per html
			*Cannot be minified!
			*learn dependency injection for minification
			*ng-model is used to bind
			*/

			app.controller('PersonController',['$scope',function($scope){
				$scope.people = [
				{name:{first:'gautam', last:'pai'},place:'Bangalore',dob : new Date(1992,07,08)},
				{name:{first:'chetan', last:'k'},place:'Hydrabad',dob : new Date(1992,07,08)}
				];
				//filters
			}]);

			app.filter('capitalize',function(){
				return function(word)	{
					console.log(word);
					return word[0].toUpperCase() + word.slice(1).toLowerCase();
				}
			});

			app.filter('fullName',function(capitalizeFilter){
				return function(name)	{
					return capitalizeFilter(name.first) + ' ' + capitalizeFilter(name.last);
				}
			});

		</script>
	</head>
	<body>
		<div ng-controller="PersonController">
			<input type = "text" ng-model='search'>
			<div ng-repeat="person in people|filter:search">
			<h3>{{person.place}}</h3>
			<h6>{{person.dob|date:'dd-MMM-yyyy,Z'}}</h6>
				<div>{{person.name|fullName}}</div>
			</div>
		</div>

	</body>
	</html>